.navbar {
    background-color: #212428 !important;
    border-bottom: 1px solid #9ca3af;
    padding: 10px;
  }
  
  .navbar-nav .nav-item .nav-link {
    color: #9ca3af !important;
    transition: color 0.5s;
  }
  
  .navbar-nav .nav-item .nav-link:hover {
    color: #ff014d !important;
  }
  
  .navbar-toggler {
    color: #9ca3af !important;
  }
  
  .profile_img {
    border-radius: 30px;
    margin-left: 20px;
  }
 